<?xml version='1.1' encoding='UTF-8'?>
<io.jenkins.docker.DockerTransientNode plugin="docker-plugin@1.5">
  <name>Cloud-0000e7iua8z9o</name>
  <description>Docker Agent [ta4e/docker_cloud on tcp://localhost:2375/ ID 3fcd7e5a6d6576de1506d837d6aadf3067e760b8c21571a31033585f90dff00f]</description>
  <remoteFS>/home/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="com.nirima.jenkins.plugins.docker.strategy.DockerOnceRetentionStrategy">
    <idleMinutes>10</idleMinutes>
  </retentionStrategy>
  <launcher class="io.jenkins.docker.connector.DockerDelegatingComputerLauncher">
    <launcher class="io.jenkins.docker.connector.DockerComputerAttachConnector$DockerAttachLauncher">
      <api>
        <dockerHost plugin="docker-commons@439.va_3cb_0a_6a_fb_29">
          <uri>tcp://localhost:2375/</uri>
        </dockerHost>
        <connectTimeout>60</connectTimeout>
        <readTimeout>60</readTimeout>
      </api>
      <containerId>3fcd7e5a6d6576de1506d837d6aadf3067e760b8c21571a31033585f90dff00f</containerId>
      <remoteFs>/home/jenkins</remoteFs>
      <jvmArgsOrEmpty></jvmArgsOrEmpty>
      <entryPointCmdOrEmpty></entryPointCmdOrEmpty>
    </launcher>
    <api reference="../launcher/api"/>
    <containerId>3fcd7e5a6d6576de1506d837d6aadf3067e760b8c21571a31033585f90dff00f</containerId>
  </launcher>
  <label>Cloud</label>
  <nodeProperties/>
  <containerId>3fcd7e5a6d6576de1506d837d6aadf3067e760b8c21571a31033585f90dff00f</containerId>
  <removeVolumes>false</removeVolumes>
  <stopTimeout>10</stopTimeout>
  <cloudId>Docker</cloudId>
  <provisioningId plugin="cloud-stats@320.v96b_65297a_4b_b_">
    <cloudName>Docker</cloudName>
    <templateName>Cloud (ta4e/docker_cloud)</templateName>
    <nodeName>Cloud-0000e7iua8z9o</nodeName>
    <fingerprint>489271695</fingerprint>
  </provisioningId>
  <acceptingTasks>true</acceptingTasks>
</io.jenkins.docker.DockerTransientNode>